@charset "UTF-8";

@import "compass";
@import "compass/layout/sticky-footer";

@include sticky-footer(60px, "#root", "#rootFooter", "footer");

body {
	@include box-sizing(border-box);
	
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	color: #222222;
	font-size: 16px;
	line-height: 20px;
}

*, *:before, *:after {
	@include box-sizing(inherit);
}

#root {
	position: relative;
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 340px;
		bottom: 0;
		content: "";
		background: #f0f0f0;
		z-index: -1;
	}
}

aside {
	width: 340px;
	padding: 20px;
	float: left;
	
	nav {
		margin: 40px 0;
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			ul {
				padding-left: 20px;
			}
		}
		
		li {
			margin: 0;
			padding: 0;
		}
		
		a {
			@include border-radius(4px);
			@include transition(background .2s linear);
			
			background: #e5e5e5;
			display: block;
			margin: 0 0 10px;
			padding: 10px 20px;
			text-decoration: none;
			
			&.active {
				font-weight: bold;
			}
			
			&:hover, &:active, &:focus {
				background: #d5d5d5;
			}
		}
	}
}

#content {
	padding: 40px;
	overflow: hidden;
	
	ul, ol {
		margin: 0 0 20px;
		padding: 0 0 0 20px;
	}
}

footer {
	background: #222222;
	color: #ffffff;
	padding: 20px 40px 0 20px;
	height: 60px;
	font-size: 14px;
	
	.left {
		float: left;
	}
	
	.right {
		text-align: right;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
	margin: 0 0 40px;
	font-size: 50px;
	line-height: 60px;
}

p {
	margin: 0 0 20px;
	padding: 0;
}

a {
	text-decoration: underline;
	color: inherit;
	
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
	
	img {
		border: none;
	}
}

figure {
	margin: 0 0 20px;
	padding: 0;
	
	img {
		line-height: 0;
		vertical-align: middle;
	}
}

.leftFigure, .rightFigure {
	&:after {
		content: "";
		display: block;
		height: 0;
		width: 100%;
		clear: both;
	}
	
	& > div {
		overflow: hidden;
	}
}

.leftFigure > figure {
	float: left;
	margin-right: 20px;
}

.rightFigure > figure {
	float: right;
	margin-left: 20px;
}